asgiref==3.7.2
crispy-bootstrap5==2023.10
Django==5.0.1
django-bootstrap5==23.4
django-braces==1.15.0
django-ckeditor==6.7.0
django-cleanup==8.0.0
django-crispy-forms==2.1
django-js-asset==2.2.0
fontawesomefree==6.4.2
pillow==10.2.0
python-decouple==3.8
sqlparse==0.4.4
tzdata==2023.4
