{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Solicitações</title>
{% endblock %}

{% block conteudo %}
<div class="container my-3">
    <h1>Lista de Usuarios</h1>

    <hr>

    <!-- ADM TABLE -->
    <div class="table-responsive">
        <table class="table table-striped table-dark table-hover table-borderless">
            <tr>
                <th>Nome</th>
                <th>Matricula</th>
                <th>Email</th>
                <th>Opções</th>
            </tr>

            {% for perfil in object_list %}

            <tr>
                <td>{{ perfil.user }}</td>
                <td>{{ perfil.matricula }}</td>
                <td>{{ perfil.user.email }}</td>
                <td>
                    <a 
                        href="{% url 'editar-usuario' perfil.pk %}" 
                        class="btn btn-secondary btn-sm" 
                        title="Editar"> Editar</a>
                    <a 
                        href="{% url 'excluir-usuario' perfil.pk %}" 
                        class="btn btn-danger btn-sm" 
                        title="Excluir"> Excluir</a>
                    
                </td>
            </tr>
            
            {% empty %}
            <tr>
                <td colspan="3"> Não há Solicitações.</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- PAGINAÇÃO -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

        <!-- PRIMEIRA -->
            {% if page_obj.number != 1 %}
            <li class="page-item">
                <a class="page-link text-white bg-dark" href="?page=1"><strong>&laquo</strong></a>
            {%else%}

            {%endif%}
            </li>
        
        <!-- PÁGINA ANTERIOR -->
            {% if page_obj.has_previous %}  
            <li class="page-item">
                <a class="page-link text-white bg-dark" href="?page={{ page_obj.previous_page_number }}">ANTERIOR</a>
            {%else%}
            <li class="page-item disabled">
                <a class="page-link text-ligth bg-dark" href="#">ANTERIOR</a>
            {%endif%}
            </li>

        <!-- PÁGINA ATUAL -->
          <li class="page-item disabled">
            <div class="page-link current text-white bg-dark">
                PÁGINA {{ page_obj.number }} DE {{ page_obj.paginator.num_pages }}</div></li>

        <!-- PROXIMA PAGINA -->
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-white bg-dark" href="?page={{ page_obj.next_page_number }}">PRÓXIMA</a>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link text-ligth bg-dark" href="#">PRÓXIMA</a>
            {% endif %}
            </li>

            <!-- ULTIMA -->
            {% if page_obj.number != page_obj.paginator.num_pages %}
            <li class="page-item">
                <a class="page-link text-white bg-dark" href="?page={{ page_obj.paginator.num_pages }}"><strong>&raquo</strong></a>
            {%else%}

            {%endif%}
            </li>
        </ul>
      </nav>
    
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/evento.js' %}"></script>
{% endblock %}
