@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

:root{
    --deep-color: #0a0d10;
    --main-color:#14151C   ;
    --low-color:#282F4F;
    --mid-color: #45518A ;
    --secondary-color: #9EABE2 ;
    --primary-color: #D8DCF0;
    --contrast-color: #f5fcfd; 
}
/* Color Theme Swatches in Hex */
.cores-doidas-1-hex { color: #E8FFF3; }
.cores-doidas-2-hex { color: #283340; }


/* Color Theme Swatches in Hex */
.azul-madrugada-1-hex { color: #14151C; }
.azul-madrugada-2-hex { color: #282F4F; }
.azul-madrugada-3-hex { color: #45518A; }
.azul-madrugada-4-hex { color: #9EABE2; }
.azul-madrugada-5-hex { color: #D8DCF0; }


/* Color Theme Swatches in Hex */
.preliminary-bi-palette-neutrals-1-hex { color: #000000; }
.preliminary-bi-palette-neutrals-2-hex { color: #A69F95; }
.preliminary-bi-palette-neutrals-3-hex { color: #7A7A7A; }
.preliminary-bi-palette-neutrals-4-hex { color: #FFFFFF; }
.preliminary-bi-palette-neutrals-5-hex { color: #606B73; }


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: var(--low-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--secondary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: var(--primary-color);
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color:  var(--main-color);
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}

a {
    color: var(--contrast-color);
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

hr {
    color: var(--mid-color);
}

h1 {
    color: var(--contrast-color);
    font-family: 'Chelsea Market';
}

footer {
    flex-shrink: 0;
    background-color: var(--low-color);
    color: var(--contrast-color);
    padding-top: 1% ;
    padding-bottom: 4%;

    
}

#dashboardContainer {
    flex: 1 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

#solicitacaoContainer {
    color: var(--contrast-color);
    margin-top: 1%;
}

#profileContainer {
    color: var(--contrast-color);
    margin-top: 1%;
    padding-top: 2%;
    padding-left: 1%;
    padding-bottom: 4%;
}

#box{
    width: 550px ;
}

#modalSolicitacao {
    background-color: var(--main-color);
    color: var(--contrast-color);
}

#login{
    justify-content: center;
}

.butao{
    justify-items: center;
}

.red {
    color: orangered;
}
.green {
    color: greenyellow
}

@media screen and (max-width: 770px){
    #menuNavbar a {
        border-radius: 30px;
    }

    body{
        font-size: 15px;
    }
    thead{
        width:100px ;
        font-size: 10px;
    }

    #box{
        width: 360px;

    }
    .butao{
        width: 140px;
        margin-top: 10px;
    }
}

#sideNavbar{
background: var(--deep-color);
color: var(--primary-color);
min-width: 250px;
max-width: 250px;
transition: all 0.3s;
padding-top: 1%;
padding-bottom: 1%;
}

#navbarLogo {
    color: var(--contrast-color);
    font-family: 'Chelsea Market';
    margin-left: 1%;
}

#sideNavbar a{
    color: var(--primary-color);
    border-radius: 10px;
    padding-left: 3%;
    transition: background-color 0.3s, color 0.3s;
}

#sideNavbar a:hover {
    background-color: var(--primary-color);
    color: var(--main-color);
}   

#topNavbar {
    background-color: var(--low-color);
    color: var(--contrast-color);
}

#topNavbar a, #topNavbar i{
    color: var(--contrast-color);
}

#profileNavbar{
    background-color: var(--deep-color);
}

#profileNavbar :hover{
    background-color: var(--primary-color);
    color:  var(--deep-color);
}

.content{
    min-height: 100vh;
    width: 100%;
}
.sidenavbar hr.h-color{
    background: var(--secondary-color);
}

#tableProfile td{
    background-color: var(--main-color);
    color: var(--contrast-color);
    font-size: large;
}

#cardEditProfile {
    background-color: var(--deep-color);
}

@media(max-width: 767px){
    #sideNavbar{
        margin-left: -250px;
        position: absolute;
        min-height: 100vh;
        z-index: 1;

    }
    #sideNavbar.active{
        margin-left: 0;
        }
}

.form-text {
    color: var(--primary-color);
    font-size: small ;
}

.asteriskField {
    color: lightcoral;
}

.form-control {
    background-color: var(--deep-color);
    border-width: 1%;
    border-color: var(--mid-color);
    color: var(--contrast-color);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--deep-color);
    --bs-tooltip-color: var(--secondary-color);
    font-size: large;
}


#page-top, #page-top h1, #page-top a{
    color: var(--contrast-color)
} 

#indexNavbar{
    background-color: var(--main-color);
}

#titleIndex{
    text-shadow: 0 0 3px #000, 0 0 5px #000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%; 
    padding-bottom: 20%;
}
