{% extends 'modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Mudar Senha</title>
{% endblock %}

{% block conteudo %}
<div class="container fluid">
<div class="container">
    <div class="mx-auto p-5">
    <h2>Mudar Senha</h2>

    <hr>
    <div>
        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy}}

            <div class="row">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark mx-auto col-md-5 butao">Voltar</a>
                <button type="submit" class="btn btn-success mx-auto col-md-5 butao"> Enviar</button>
            </div>
        </form>
    </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#id_data").mask("00/00/0000");
        $("#id_hora").mask("00:00:00");
    });
</script>
{% endblock %}