{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Página Inicial</title>
{% endblock %}
    
{% block conteudo %}
<div  class="container-fluid">
    <div id="mainContainer" class="container">
        <!-- <h1>
            Página Inicial</h1>  
        
        <hr> -->
        
        <!-- CARROSEL -->
        <div class="p-3 page-content">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    
                    {% for post in posts %}
                    <div class="carousel-item active rounded-4">
                        <div class="card">
                            <img src="{{post.image.url}}" class="d-block w-100 img-wrapper" alt="image-post">
                            <div class="card-body">
                                <h5 class="card-title">{{post.title}}</h5>
                                <p class="card-text lead">Postado por {{ post.author }} em {{ post.post }} </p>
                                <a href="{% url 'post' post.pk %}" class="btn btn-primary">Saiba mais</a>
                            </div>
                        </div>
                    </div>
                    {%empty%}
                        <div class="carousel-item active">
                            <div class="card">
                                <img src="{% static 'img/placeholder-img.png' %}" class="d-block w-100 img-wrapper" alt="...">
                                <div class="card-body">
                                <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-8"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="card">
                                <img src="{% static 'img/placeholder-img.png' %}" class="d-block w-100 img-wrapper" alt="...">
                                <div class="card-body">
                                <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-8"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item active">
                            <div class="card">
                                <img src="{% static 'img/placeholder-img.png' %}" class="d-block w-100 img-wrapper" alt="...">
                                <div class="card-body">
                                <h5 class="card-title placeholder-glow">
                                    <span class="placeholder col-6"></span>
                                </h5>
                                <p class="card-text placeholder-glow">
                                    <span class="placeholder col-7"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-4"></span>
                                    <span class="placeholder col-6"></span>
                                    <span class="placeholder col-8"></span>
                                </p>
                                <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                                </div>
                            </div>
                        </div>

                    {%endfor%}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        
        <!-- IVENTARIO -->
        <div class="row page-content px-lg-3 mx-2 my-4">
          <div class="col-lg-6 d-flex justify-content-center">
              
              {% if item.image %}
              <img class="inventory-item-img" src="{{ item.image.url }}" alt="{{ item.name }}"  >
              
              {%else%}
              <img class="inventory-item-img" src="{% static 'img/placeholder-img.png' %}" alt="sem-imagem"> 
              {%endif%}

          </div>

          <div class="col-lg-6 mb-3">
              <div class="col-lg-12 pt-3">
                {% if item.name %}
                    <h2>{{ item.name }}</h2>
                {%else%}
                    <h2><span class="placeholder w-50"></span></h2>
                {%endif%}
              </div>

              <div class="row">
                  <div class="col-lg-4">
                      <h6>Descrição</h6>
                  </div>
                  <div class="col-lg-8">
                    {% if item.name %}
                      <p>{{item.description}}</p>
                    {%else%}
                        <p><span class="placeholder w-100"></span>
                            <span class="placeholder w-100"></span>
                            <span class="placeholder w-100"></span>
                            <span class="placeholder w-100"></span>
                            <span class="placeholder w-100"></span>
                            <span class="placeholder w-100"></span>
                            <span class="placeholder w-100"></span>
                            <span class="placeholder w-75"></span>
                        </p>
                    {%endif%}
                  </div>
              </div>
              
              <div class="row">
              {% if item.sound %}
              <div class="col-lg-4">
                  <h6>Amostra de Áudio</h6>
              </div>
              <div class="col-lg-8">
                  <audio controls muted >
                      <source src="{{ item.sound.url }}" type="audio/mpeg">
                  </audio>
              </div>
              {%else%}
                  <div class="col-lg-12">
                      <h6 class="text-white-50">Sem amostra de áudio.</h6>
                  </div>
              {%endif%}
                <div class="col-lg-12 pt-md-5 pt-1">
                    <p class="mt-3">
                        Veja mais itens do inventário da sala de música!
                    </p>
                    <a href="{% url 'inventario' %}" class="btn btn-success btn-lg pb-1"><h6>Acessar Inventário <i class="fa-solid fa-right-to-bracket"></i></h6></a>
                </div>
              </div>
          </div>          
      </div>

      <!-- SOLICITAÇÃO -->
      <div class="page-content p-3">
          <h2>Horários Reservados - Sala E04</h2>
          <div id="calendarRow" class="row d-flex py-2 ">
              <div class="col-md-9 mx-auto">
                  <div id='calendar' class="rounded-top-4 "></div> 
              </div>
              <div class="col-md-3 mt-3">
                <strong>Legenda</strong>
                <ul class="list-group mt-2">
                    <li class="list-group-item text-white bg-dark"> <i class="fa-solid fa-circle fa-2xs yellow"></i> Solicitado </li>
                    <li class="list-group-item text-white bg-dark"> <i class="fa-solid fa-circle fa-2xs green "></i> Reservado </li>
                    <li class="list-group-item text-white bg-dark"> <i class="fa-solid fa-circle fa-2xs red "></i> Negado </li>
                </ul>

                <p class="mt-3">
                    Deseja visitar o laboratório de práticas musicais?
                </p>

                <a href="{% url 'listar-solicitacao' %}" class="btn btn-success btn-lg pb-1">
                    <h6>Solicite um horário! 
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </h6>
                </a>
                
              </div>
          </div>
        </div>
        
    </div> 
    
    {% for solicitacao in solicitacaos %}
        {% include 'solicitacao/detail.html' %}
    {%endfor%}

</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'pt-br',
            buttonText: {today: 'Hoje'},
            dayMaxEventRows: true, // for all non-TimeGrid views
            views: {
                timeGrid: {
                    dayMaxEventRows: 6 // adjust to 6 only for timeGridWeek/timeGridDay
                }
            },
            events: [
                // {% for solicitacao in solicitacaos %}
                // {% if solicitacao.status.id == 3 %}
                {
                    title: '{{ solicitacao.profile }}',
                    start: '{{ solicitacao.data | date:"Y-m-d" }}T{{solicitacao.entry_hour}}',
                    id: '{{solicitacao.id}}',
                    borderColor: 'green'
                }, 
    
                // {% elif solicitacao.status.id == 1 %}
                {
                    title: '{{ solicitacao.profile }}',
                    start: '{{ solicitacao.data | date:"Y-m-d" }}T{{solicitacao.entry_hour}}',
                    id: '{{solicitacao.id}}',
                    borderColor: 'yellow'
                }, 
                // {% elif solicitacao.status.id == 2 %}
                // {%endif%}
                // {% endfor %}
            ],
            eventDidMount: function(info) {
                var eventElement = info.el;
                var solicitacaoId = info.event.id; // Acesse o ID da solicitação usando info.event.id
                eventElement.setAttribute('data-bs-toggle', 'modal');
                eventElement.setAttribute('data-bs-target', '#detailModal' + solicitacaoId);
                eventElement.setAttribute('type', 'button');
            },
    
        });
        calendar.render();
    });
</script>


{% endblock %}