{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>{{Titulo}}</title>
{% endblock %}

{% block conteudo %}
<div class="container fluid">
    <div class="container">
        <div class=" mx-auto p-5">
        <h3>{{Titulo}}</h3>
        <p class='lead'> Confirme para excluir o registro definitivamente.</p>

        <hr>

        <form action="" method="post">
            {% csrf_token %}

            <p>
            Deseja excluir o registro: <b>{{ object }}</b>?</p>

        <div class="row">
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark mx-auto col-md-5">Voltar</a>
                <button type="submit" class="btn btn-danger mx-auto col-md-5"> Excluir</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}