{% extends 'modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>{{Titulo}}</title>
{% endblock %}

{% block conteudo %}
<div class="container fluid">
<div class="container">
    <div class="mx-auto p-5">
    <h2>{{Titulo}}</h2>
    <p class='lead'> Preencha todos os campos obrigatórios.</p>

    <hr>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.media }}
        {{ form|crispy}}

        <div class="row">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-dark mx-auto col-md-5">Voltar</a>
            <button type="submit" class="btn btn-success mx-auto col-md-5"> Enviar</button>
        </div>
    </form>
       
    </div>
</div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#id_data").mask("00/00/0000");
        $("#id_hora").mask("00:00:00");
    });
</script>
{% endblock %}