{% extends 'modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Login</title>
{% endblock %}

{% block menu %}
{% endblock %}

{% block destaque %}
{% endblock %}

{% block conteudo %}
<div class="container fluid">
<div class="container">
    <div class="my-5 mx-auto top-50 p-5 text-white " id="box">
        {% if request.user.is_authenticated %}
        <h1>
            Ação não permitida!</h1>
        <hr>
        <p class="lead">
            <b>Houve algum problema para processar a ação desejada ou você não tem permissão.</b></p>
        <a href="{% url 'inicio' %}" class="btn btn-secondary text-dark"> VOLTAR AO INICIO</a>

        {% else %}
        <h1>
            LOGIN</h1>  
        <hr>
        
        <form action="" method="post">
            {% csrf_token %}

            {{ form|crispy }}

        <div class="row"> 
            <a class="col-md-5 mx-auto btn btn-dark butao" href="{% url 'registrar' %}">
                CRIAR CONTA</a>

            <button type="submit" class="col-md-5 mx-auto btn btn-success butao">
                ENTRAR</button>

        </form>
        {% endif %}
        
        </div>
    </div>
</div>        
</div>
{% endblock %}

{% block rodape %}
{% endblock %}
