{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block titulo %}
    <title>Página Modelo</title>
    {% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
 
</head>
<body>
    {% block menu %}
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark py-3">
      <div class="container">
        <a href="" class="navbar-brand d-flex align-items-center">
          <i class="fa-solid fa-guitar fa-lg me-2"></i>iNFO MúSiCA </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNavbar">
            <i class="fa-solid fa-bars"></i>
          </button>

        <div class="collapse navbar-collapse" id="menuNavbar">
          <div class="navbar-nav me-auto mb-2 mb-lg-0">

            {% for group in request.user.groups.all %}
            {% if group.name == 'Admin' %}

            <!-- NAV ADM -->
            <a href="{% url 'inicio' %}" class="nav-link active">Inicio</a>
            <a href="{% url 'listar-solicitacao' %}"class="nav-link active">Gerencia Solicitações</a>
            <a href="{% url 'listar-usuario' %}" class="nav-link active">Gerenciar Usuários</a>

            {%else%}
            <!-- NAV USUARIO -->
            <a href="{% url 'inicio' %}" class="nav-link active">Inicio</a>
            <a href="{% url 'listar-solicitacao' %}"class="nav-link active">Minhas Solicitações</a>
            
            {%endif%}
            {%endfor%}
          </div>
          <div class="mb-2 mb-lg-0 text-white d-flex align-items-center">
            <span class="nav-text mx-2">
              <i class="fa-solid fa-user"></i> <strong class="mx-1 text-uppercase">{{ request.user }}</strong> 
            </span>

            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}" class="btn btn-outline-secondary ">Logout</a>
          
            {% else %}
            <a href="{% url 'login' %}" class="btn btn-outline-light mx-1">Login</a>
            <a href="{% url 'registrar' %}" class="btn btn-outline-light mx-1">Cadastre-se</a>
          
            {% endif %}
          </div>
          
           
        </div>
        </div>

      </div>
    </nav> 

    {% endblock %}

    {% block conteudo %}
    <div class="container">
        <h1>
            Página Modelo</h1>  
            
        <p>Conteudo</p>
    </div>
    {% endblock %}

    {% block rodape %}
    <div class="py-4"></div>
    <footer class= "py-3 bg-dark text-white position-relative bottom-0 ">
      
      <div class="container d-flex align-items-center">
        <p class="lead text fs-6 fst-italic">Todos os direitos reservados.</p>
        <span class="ms-auto">iNFOMúSiCA™</span>
      </div>
    </footer>
    {% endblock %}
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    {% block script %}

    {% endblock %}  
</body>
</html>