{% load static %}

<div  class="main-container d-flex">
    <div class="sidebar" id="sideNavbar">

        <div class="header-box px-2 pt-2 pb-3 d-flex justify-content-between">
            <div id="navbarLogo">
                <a href="{% url 'inicio'%}">
                    <h1 class="fs-5">
                        <span class=" rounded px-2 py-1 me-2"><i class="fa-solid fa-music fa-lg text-white-50"></i></span>
                        iNFO MúSiCA</h1>
                </a>
            </div>

            <button class="btn d-md-none d-block close-btn px-2 py-0 pb-2" >
                <i class="fa-solid fa-xmark text-white"></i></button>
        </div>

    <div id="sidebarItem">
        <ul class="px-2">
            <li><a href="{% url 'inicio'%}" class="row py-2 mx-1 d-flex">
                <div class="col-2 text-center"> <i class="fa-solid fa-house"></i></div>
                <div class="col-10"> Inicio</div>
                 </a></li>

            {% for group in request.user.groups.all %}
            {% if group.name == 'Admin' %}
            <!-- NAV ADMIN -->

            <li><a href="{% url 'listar-solicitacao'%}" class="row py-2 mx-1 d-flex">
                <div class="col-2 text-center"> <i class="fa-solid fa-list"></i></div>
                <div class="col-10"> Gerenciar Solicitações</div> 
                 </a></li>

            <li><a href="{% url 'listar-usuario'%}" class="row py-2 mx-1 d-flex">
                <div class="col-2 text-center"> <i class="fa-solid fa-user-group"></i></div>
                <div class="col-10"> Gerenciar Usuários</div>
                 </a></li>

            {%else%}
            <!-- NAV USER -->
            <li><a href="{% url 'listar-solicitacao'%}" class="row py-2 mx-1 d-flex">
                <div class="col-2 text-center"> <i class="fa-solid fa-list"></i></div>
                <div class="col-10"> Minhas Solicitações</div> 
                 </a></li>
            {%endif%}
            {%endfor%}

        </ul>

        <hr class="h-color mx-2">

        <ul class="px-2">
            <li><a href="" class="row px-2 py-2 mx-1 d-flex">
                <div class="col-2 text-center"> <i class="fa-solid fa-gear"></i></div>
                <div class="col-10"> Configurações</div>
                 </a></li>
        </ul>
    </div>

    </div>
    <div class="content">
        <nav id="topNavbar" class="navbar navbar-expand-md ">
            <div class="container-fluid">
                
                <div class="d-flex justify-content-between d-md-none d-block">
                 <button class="btn px-1 py-0 open-btn me-2"><i class="fa-solid fa-bars"></i></button>
                    <a class="navbar-brand fs-4" href="{% url 'inicio'%}"><span class="bg-dark rounded px-2 py-1">
                        <i class="fa-solid fa-guitar"></i></span></a>  
                </div>
                
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-circle-user fa-lg"></i>
                </button>

        
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-md-0">


                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown-center">
                            <a class="btn" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{request.user}}
                              </a>

                              <a href="{% url 'perfil' %}">
                                <img class="img-fluid rounded-circle mx-1" src="{% static 'img/user-img-placeholder.png' %}" style="width: 30px ;"></a>

                              <ul id="profileDropdown" class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'perfil' %}">Meu Perfil</a></li>
                                
                                 <hr class="h-color mx-2 my-1">

                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                              </ul>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="btn">Login</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'registrar' %}" class="btn">Sing Up</a>
                        </li>
                        {%endif%}
                    </ul>

                </div>
            </div>
        </nav>
    
