

<div  class="main-container d-flex">
    <div class="sidebar" id="sideNavbar">

        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
            <h1 id="navbarLogo" class="fs-5">
                <span class="bg-white rounded shadow px-2 me-2"><i class="fa-solid fa-guitar text-dark"></i></span>
                iNFO MúSiCA</h1>

            <button class="btn d-md-none d-block close-btn px-2 py-0 pb-2">
                <i class="fa-solid fa-xmark"></i></button>
        </div>

        <ul class="list-unstyled px-2">
            <li><a href="{% url 'inicio'%}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fa-solid fa-house"></i> Inicio</a></li>

            {% for group in request.user.groups.all %}
            {% if group.name == 'Admin' %}
            <!-- NAV ADMIN -->

            <li><a href="{% url 'listar-solicitacao'%}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fa-solid fa-list"></i> Gerenciar Solicitações</a></li>

            <li><a href="{% url 'listar-usuario'%}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fa-solid fa-user-group"></i> Gerenciar Usuários</a></li>
            
            {%else%}
            <!-- NAV USER -->
            <li><a href="{% url 'listar-solicitacao'%}" class="text-decoration-none px-3 py-2 d-block">
                <i class="fa-solid fa-list"></i> Minhas Solicitações</a></li>
            {%endif%}
            {%endfor%}

        </ul>

        <hr class="h-color mx-2">

        <ul class="list-unstyled px-2">
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-gear"></i>
                    Configurações</a></li>

        </ul>

    </div>
    <div class="content">
        <nav id="topNavbar" class="navbar navbar-expand-md ">
            <div class="container-fluid">
                
                <div class="d-flex justify-content-between d-md-none d-block">
                 <button class="btn px-1 py-0 open-btn me-2"><i class="fa-solid fa-bars"></i></button>
                    <a class="navbar-brand fs-4" href="{% url 'inicio'%}"><span class="bg-dark rounded px-2 py-1">
                        <i class="fa-solid fa-guitar"></i></span></a>   
                </div>
                
                <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-circle-user fa-lg"></i>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-md-0">

                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown-center">
                            <a class="btn dropdown-toggle " href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{request.user}}
                              </a>
                            
                              <ul id="profileDropdown" class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'perfil' %}">Meu Perfil</a></li>
                                
                                 <hr class="h-color mx-2 my-1">

                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                              </ul>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a href="{% url 'logout' %}" class="btn">Login</a>
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'registrar' %}" class="btn">Sing Up</a>
                        </li>
                        {%endif%}
                    </ul>

                </div>
            </div>
        </nav>
    
