{% load static %}

<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="" id="sidebar-wrapper">
        <div class="">
            <div class="sidebar-logo">
                <a href="{% url 'perfil' %}">
                    <img class="img-fluid rounded-circle mx-1" src="{% static 'img/user-img-placeholder.png' %}" style="width: 30px ;">
                    <span class="ms-2">{{request.user}}</span>
                </a>
            </div>
            <!-- Sidebar Navigation -->
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Navegação
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'inicio' %}" class="sidebar-link">
                        <i class="fa-solid fa-home pe-2"></i>
                        Inicio
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="{% url 'postagens' %}" class="sidebar-link">
                        <i class="fa-solid fa-globe pe-2"></i>
                        Postagens
                    </a>
                </li>
                
                <li class="sidebar-item">
                    <a href="{% url 'inventario' %}" class="sidebar-link">
                        <i class="fa-solid fa-guitar pe-2"></i>
                        Inventario
                    </a>
                </li>
                {% for group in request.user.groups.all %}
                {% if group.name == 'Aluno' %}

                <li class="sidebar-item">
                    <a href="{% url 'listar-solicitacao' %}" class="sidebar-link">
                        <i class="fa-solid fa-list pe-2"></i>
                        Minhas Solicitações
                    </a>
                </li>

                {% elif group.name == 'Admin' %}
                
                <li class="sidebar-item">
                    <a href="" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#pages"
                        aria-expanded="false" aria-controls="pages">
                        <i class="fa-regular fa-file-lines pe-2"></i>
                        Gerenciar
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item ms-5">
                            <a href="{% url 'listar-solicitacao' %}" class="sidebar-link">Solicitações</a>
                        </li>
                        <li class="sidebar-item ms-5">
                            <a href="{% url 'listar-usuario' %}" class="sidebar-link">Usuários</a>
                        </li>
                        <li class="sidebar-item ms-5">
                            <a href="{% url 'listar-item' %}" class="sidebar-link">Inventario</a>
                        </li>
                        <li class="sidebar-item ms-5">
                            <a href="{% url 'listar-post' %}" class="sidebar-link">Postagens</a>
                        </li>
                    </ul>
                </li>

                {%endif%}
                {%endfor%}

                <hr>

                <li class="sidebar-header">
                    Usuário 
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'perfil' %}" class="sidebar-link">
                        <i class="fa-solid fa-user pe-2"></i>
                        Meu Perfil
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'logout' %}" class="sidebar-link">
                        <i class="fa-solid fa-right-from-bracket pe-2"></i>
                        Logout
                    </a>
                </li>
<!--                 
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                        aria-expanded="false" aria-controls="multi">
                        <i class="fa-solid fa-share-nodes pe-2"></i>
                        Multi Level
                    </a>
                    <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                Two Links
                            </a>
                            <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 1</a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#" class="sidebar-link">Link 2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li> -->

            </ul>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg py-3 px-4">
            <div class="d-flex align-items-center" id="menu-toggle">
                <i class="fas fa-align-left fs-4 me-3" ></i>
                <h2 class="fs-2 m-0">INFOMUSICA</h2>
            </div>
<!-- 
            <div class="navbar-nav ms-auto me-2 mb-2 mb-lg-0">
                <a class="nav-link fw-bold" href="{% url 'perfil' %}">
                    <span class="me-2 hidden-mobile">{{request.user}}</span>
                    <img class="img-fluid rounded-circle mx-1" src="{% static 'img/user-img-placeholder.png' %}" style="width: 30px ;">
                </a>

            </div> -->
<!-- 
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
<!-- 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link  second-text fw-bold" href="#" id="navbarDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{request.user}}
                            <img class="img-fluid rounded-circle mx-1" src="{% static 'img/user-img-placeholder.png' %}" style="width: 30px ;">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div> -->
        </nav>

