{% extends 'modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>{{Titulo}}</title>
{% endblock %}

{% block conteudo %}
<div class="container fluid">
<div id="mainContainer" class="container" >

    <div class="row">
		<div class="col-md-10"><h1>{{Titulo}}</h1>
		</div>
		<div class="col-md-2"><button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            EDITAR PERFIL
          </button>
		</div>
	</div>

    <hr>

    <div class="row">
		<div class="col-md-4 d-flex">
			<h3 class="mx-auto">
				{{request.user}}</h3>
            <img alt="Bootstrap Image Preview" src="{% static 'img/user-img-placeholder.png' %}" class="rounded-circle mx-auto" style="width: 200px;"/>
		</div>
		
		<div class="col-md-4">
			<table id="tableProfile" class="table  table-hover table-borderless">
				<tbody>
					<tr >
                        <td>E-mail</td>
                        <td>{{request.user.email}}</td>
                    </tr>

                    <tr>
                        <td>Matricula</td>
                        <td>{{request.user.perfil.matricula}}</td>
                    </tr>

                    <tr>
                        <td>Placeholder</td>
                        <td>Placeholder</td>
                    </tr>

                    <tr>
                        <td>Placeholder</td>
                        <td>Placeholder</td>
                    </tr>
				</tbody>
			</table>
		</div>
	</div>

    <hr>
    <!-- EDIT PROFILE -->
    <!-- <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        EDITAR PERFIL
      </button> -->
    <div class="collapse" id="collapseExample">
        <div class="card card-body" id="cardEditProfile">
            <div>
                <form action="" method="post">
                    {% csrf_token %}
    
                    {{ form|crispy}}
    
                    <div class="row">
                        <a href="{% url 'mudar-senha' %}" class="btn btn-dark mx-auto col-md-5 butao">Mudar Senha</a>
                        <button type="submit" class="btn btn-success mx-auto col-md-5 butao"> Enviar</button>
                    </div>
                </form>
            </div>
        </div>
      </div>

</div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#id_data").mask("00/00/0000");
        $("#id_hora").mask("00:00:00");
    });
</script>
{% endblock %}