{% extends 'modelo.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
<title>Criar conta</title>
{% endblock %}

{% block menu %}
{% endblock %}

{% block destaque %}
{% endblock %}

{% block conteudo %}
<div class="container">
    <div class="my-5 mx-auto p-5 sm-p-3">
    <h1>Criar Conta</h1>
    <p class='lead'> Preencha todos os campos obrigatórios.</p>

    <hr>

    <form action="" method="post">
        {% csrf_token %}

        {{ form|crispy}}
        {{ profile_form|crispy }}

        <div class="row d-flex align-items-center"> 
            <a class="col-md-5 mx-auto mt-3 p-2 btn btn-dark" href="{% url 'login' %}">
                LOGIN</a>
            <button type="submit" class="col-md-5 mx-auto mt-3 p-2 btn btn-success">
                ENTRAR</button>
    </form>
    </div>
</div>
{% endblock %}


{% block rodape %}
{% endblock %}
