{% for solicitacao in object_list %}

<tr>
    <td>{{solicitacao.usuario}}</td>
    <td>{{solicitacao.usuario.matricula}}</td>

    <td>
        <div class="d-flex  ">
    {% if solicitacao.status.id == 1 %}
        <i class="fa-regular fa-circle mx-auto"></i>  
    {% elif solicitacao.status.id == 2 %}
        <i class="fa-regular fa-circle-xmark red mx-auto"></i>  
    {% elif solicitacao.status.id == 3 %}
        <i class="fa-regular fa-circle-check green mx-auto"></i>  
    {%endif%}
        </div>
    <!-- {{ solicitacao.status }} -->
    </td>
    
    <td>{{ solicitacao.justificativa }}</td>
    <td>{{ solicitacao.data|date:'d/m/Y' }}</td>
    <td>{{ solicitacao.entry_hour }}</td>
    <td>{{ solicitacao.exit_hour }}</td>
    <td>{{solicitacao.post|date:'d/m/Y - H:i'}}</td>
                
    <td>
        <div class="d-flex">
        <button 
        type="button"
        class="btn btn-success btn-sm mx-auto js-update"
        data-url="{% url 'js-editar-status' solicitacao.pk %}">
        Status</button> 

        <button 
        type="button"
        class="btn btn-secondary btn-sm mx-auto js-update"
        data-url="{% url 'js-editar' solicitacao.pk %}"><i class="fa-solid fa-pen"></i>
        Editar</button> 
                    
        <button 
        type="button" 
        class="btn btn-danger btn-sm mx-auto js-delete" 
        data-url="{% url 'js-excluir' solicitacao.pk %}"><i class="fa-solid fa-trash"></i>
        Exluir</button>
    </div>
    </td>
</tr>
            
{% empty %}
<tr>
    <td colspan="9"> Não há Solicitações.</td>
</tr>
{% endfor %}
