
{% load crispy_forms_tags %}

<div class="modal fade" id="changeModal{{el.id}}" tabindex="-1" aria-labelledby="changeModalLabel" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">
            {% csrf_token %}

        <div class="modal-header">
            <h1 class="modal-title fs-5" id="changeModalLabel">Mudar Permissão de {{el}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            <form action="" method="post" enctype="multipart/form-data">
    
                {{ form.media }}
                {{ form|crispy }}

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary"> Salvar</button>
        </div>
             </form>
      </div>
    </div>
  </div>