
  <!-- Modal -->
  <div class="modal fade" id="detailModal{{solicitacao.id}}" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true" data-bs-theme="dark">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content">

        <div class="modal-header">
            <h1 class="modal-title fs-5" id="detailModalLabel">Solicitação de {{solicitacao.profile}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        
        <div class="modal-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Solicitado por: <span class="text-danger">{{solicitacao.profile}}</span></li>
                <li class="list-group-item">Justificativa: {{solicitacao.justificativa}}</li>
                <li class="list-group-item">Data: {{solicitacao.data}}</li>
                <li class="list-group-item">Hora de Entrada: {{solicitacao.entry_hour}}</li>
                <li class="list-group-item">Hora de Saida: {{solicitacao.exit_hour}}</li>
            </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>

      </div>
    </div>
  </div>