{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Solicitações</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid">
    <div id="mainContainer" class="container">
        <h1>Itens do Inventário</h1>

        <hr>

        <div class="row d-flex align-items-center">
            <div class="col-md-9 col-sm-7 my-1 me-auto text-start">
    
            </div>
            <div class="col-md-3 col-sm-5 my-1 ms-auto">
    
                <a href="{% url 'cadastrar-item' %}" class="btn btn-secondary">CADASTRAR ITEM</a>
    
            </div>
        </div>

        <hr>

        <!-- ADM TABLE -->
        <div class="table-responsive">
            <table class="table table-striped table-dark table-hover table-borderless">
                <tr>
                    <th>Nome</th>
                    <th>Descricao</th>
                    <th>Imagem</th>
                    <th>Amostra de Aúdio</th>
                    <th>Opções</th>
                </tr>

                {% for el in object_list %}

                <tr>
                    <td ><div class="ms-2">{{ el.name }}</div></td>
                    <td>{{ el.description }}</td>
                {% if el.image %}
                    <td><img src="{{ el.image.url }}" alt="{{ el.name }}" width="50px" height="50px">
                        </td>
                {%else%}
                    <td>Sem imagem</td>
                {%endif%}

                {% if el.sound %}
                    <td>Sim</td>
                {%else%}
                    <td>Não</td>
                {%endif%}
                    <td >
                        <a 
                            href="{% url 'editar-item' el.pk %}" 
                            class="btn btn-secondary btn-sm m-1" 
                            title="Editar"> Editar</a>
                
                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal{{el.id}}">
                            Excluir
                        </button>
                        
                    </td>
                </tr>
                
                <form action="{% url 'excluir-item' el.pk %}" method="post">
                    {% include 'form-excluir.html' %}
                </form>

                {% empty %}
                <tr>
                    <td colspan="5"> Não há itens cadastrados.</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- PAGINAÇÃO -->
        {% include 'lista/pagination.html' %}
        
    </div>
</div>

{% endblock %}
