{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Inventário</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid">
    <div id="mainContainer" class="container">
        <h1>Confira as novas postagens do INFORMUSICA</h1>

        <hr>

        <div class="row card-group">
            {% for el in object_list %}
            <div class="col-3 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{el.image.url}}" class="d-block w-100 img-wrapper" alt="image-post">
                    <div class="card-body">
                        <h5 class="card-title">{{el.title}}</h5>
                        <p class="card-text">Postado por {{ el.author }} em {{ el.post }} </p>
                        <a href="{% url 'post' el.pk %}" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>Desculpe! Não há postagems!</h1>

            {% endfor %}
        </div>


        <!-- PAGINAÇÃO -->
        <nav aria-label="Page navigation example" class="my-3">
            <ul class="pagination justify-content-center">

            <!-- PRIMEIRA -->
                {% if page_obj.number != 1 %}
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
                {%else%}

                {%endif%}
                </li>
            
            <!-- PÁGINA ANTERIOR -->
                {% if page_obj.has_previous %}  
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page={{ page_obj.previous_page_number }}">ANTERIOR</a>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link text-white-50 bg-dark" href="#">ANTERIOR</a>
                {%endif%}
                </li>

            <!-- PÁGINA ATUAL -->
            <li class="page-item disabled">
                <div class="page-link current text-white bg-dark">
                    PÁGINA {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</div></li>

            <!-- PROXIMA PAGINA -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page={{ page_obj.next_page_number }}">PRÓXIMA</a>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link text-white-50 bg-dark" href="#">PRÓXIMA</a>
                {%endif%}
                </li>

                <!-- ULTIMA -->
                {% if page_obj.number != page_obj.paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
                {%else%}

                {%endif%}
                </li>
            </ul>
        </nav>
        
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/evento.js' %}"></script>
{% endblock %}
