{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Inventário</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid">
    <div id="mainContainer" class="container">
        <h1>Confira as novas postagens do INFORMUSICA</h1>

        <hr>

        <div class="row card-group">
            {% for el in object_list %}
            <div class="col-md-3 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{{el.image.url}}" class="d-block w-100 img-wrapper" alt="image-post">
                    <div class="card-body">
                        <h5 class="card-title">{{el.title}}</h5>
                        <p class="card-text">Postado por {{ el.author }} em {{ el.post }} </p>
                        <a href="{% url 'post' el.pk %}" class="btn btn-primary">Saiba mais</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h1>Desculpe! Não há postagems!</h1>

            {% endfor %}
        </div>


        <!-- PAGINAÇÃO -->
        {% include 'lista/pagination.html' %}
        
    </div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/evento.js' %}"></script>
{% endblock %}
