{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Solicitações</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid">
    <div id="mainContainer" class="container">
        <h1>Lista de Postagens</h1>

        <hr>

        
    <div class="row d-flex align-items-center">
		<div class="col-md-9 col-sm-7 my-1 me-auto text-start">

		</div>
		<div class="col-md-3 col-sm-5 my-1 ms-auto">
            
            <a href="{% url 'cadastrar-post' %}" class="btn btn-secondary ">CADASTRAR POSTAGEM</a>

		</div>
	</div>

        <hr> 
        <!-- ADM TABLE -->
        <div class="table-responsive">
            <table class="table table-striped table-dark table-hover table-borderless">
                <tr>
                    <th>Título</th>
                    <th>Imagem de Capa</th>
                    <th>Autor</th>
                    <th>Postado em</th>
                    <th>Opções</th>
                </tr>

                {% for el in object_list %}

                <tr>
                    <td><a href="{% url 'post' el.pk %}">{{ el.title }}</a></td>
                {% if el.image %}
                    <td><img src="{{ el.image.url }}" alt="{{ el.name }}" width="50px" height="50px">
                        </td>
                {%else%}
                    <td>Sem imagem</td>
                {%endif%}
                    <td>{{ el.author }}</td>
                    <td>{{ el.post|date:'d/m/Y - H:i'}}</td>
                    <td>
                        <a 
                            href="{% url 'editar-post' el.pk %}" 
                            class="btn btn-secondary btn-sm mx-auto" 
                            title="Editar"> Editar</a>
                
                        <button type="button" class="btn btn-danger btn-sm mx-auto" data-bs-toggle="modal" data-bs-target="#deleteModal{{el.id}}">
                            Excluir
                        </button>
                        
                    </td>
                </tr>
                
                <form action="{% url 'excluir-post' el.pk %}" method="post">
                    {% include 'form-excluir.html' %}
                </form>

                {% empty %}
                <tr>
                    <td colspan="5"> Não há itens cadastrados.</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- PAGINAÇÃO -->
        <nav aria-label="Page navigation example" class="my-3">
            <ul class="pagination justify-content-center">

            <!-- PRIMEIRA -->
                {% if page_obj.number != 1 %}
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page=1"><i class="fa-solid fa-angles-left"></i></a>
                {%else%}

                {%endif%}
                </li>
            
            <!-- PÁGINA ANTERIOR -->
                {% if page_obj.has_previous %}  
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page={{ page_obj.previous_page_number }}">ANTERIOR</a>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link text-white-50 bg-dark" href="#">ANTERIOR</a>
                {%endif%}
                </li>

            <!-- PÁGINA ATUAL -->
            <li class="page-item disabled">
                <div class="page-link current text-white bg-dark">
                    PÁGINA {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</div></li>

            <!-- PROXIMA PAGINA -->
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page={{ page_obj.next_page_number }}">PRÓXIMA</a>
                {%else%}
                <li class="page-item disabled">
                    <a class="page-link text-white-50 bg-dark" href="#">PRÓXIMA</a>
                {%endif%}
                </li>

                <!-- ULTIMA -->
                {% if page_obj.number != page_obj.paginator.num_pages %}
                <li class="page-item">
                    <a class="page-link text-white bg-dark" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa-solid fa-angles-right"></i></a>
                {%else%}

                {%endif%}
                </li>
            </ul>
        </nav>
        
    </div>
</div>

{% endblock %}
