{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Solicitações</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid">
    <div id="mainContainer" class="container">
        <h1>Lista de Usuários</h1>

        <hr>

        <!-- ADM TABLE -->
        <div class="table-responsive">
            <table class="table table-striped table-dark table-hover table-borderless">
                <tr>
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>Email</th>
                    <th>Opções</th>
                </tr>

                {% for el in object_list %}

                <tr>
                    <td><div class="ms-2">{{ el.user }}</div></td>
                    <td>{{ el.matricula }}</td>
                    <td>{{ el.user.email }}</td>
                    <td>
                        <div class="d-inline-block">
                        <a 
                            href="{% url 'editar-usuario' el.pk %}" 
                            class="btn btn-secondary btn-sm m-1" 
                            title="Editar"> Editar</a>

                        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal{{el.id}}">
                            Excluir
                        </button>
                        
                        </div>
                    </td>
                </tr>
                
                <form action="{% url 'excluir-usuario' el.pk %}" method="post">
                    {% include 'form-excluir.html' %}
                </form>
                
                {% empty %}
                <tr>
                    <td colspan="3"> Não há Solicitações.</td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <!-- PAGINAÇÃO -->
        {% include 'lista/pagination.html' %}

    </div>
</div>

{% endblock %}
