{% extends 'modelo.html' %}
{% load static %}

{% block titulo %}
<title>Solicitações</title>
{% endblock %}

{% block conteudo %}
<div class="container-fluid">
<div id="mainContainer" class="container">

    <div class="p-3 page-content">
        <h1>Lista de Solicitações</h1>
        <hr>

        <div class="row d-flex align-items-center">
            <div class="col-sm-4 my-2 mx-auto text-start">

                <!-- Filtro de Data -->
                <div class="d-flex align-items-center">
                <span for="dataSelect" class="text-start">Filtro de Data</span>

                    <select id="dataSelect" class="form-select mx-2" onchange="window.location.href=this.value;" >

                        <option value="?filtro_data=todas" {% if 'todas' in request.GET.filtro_data|default:'' %}selected{% endif %}>
                            Todas</option>
                        <option value="?filtro_data=ultima_semana" {% if 'ultima_semana' in request.GET.filtro_data %}selected{% endif %}>
                            Última semana</option>
                        <option value="?filtro_data=ultimo_mes" {% if 'ultimo_mes' in request.GET.filtro_data %}selected{% endif %}>
                            Último mês</option>
                        <option value="?filtro_data=prox_semana" {% if 'prox_semana' in request.GET.filtro_data %}selected{% endif %}>
                            Próxima semana</option>
                        <option value="?filtro_data=prox_mes" {% if 'prox_mes' in request.GET.filtro_data %}selected{% endif %}>
                            Próximo mês</option>
                    </select>
                </div>
                    
            </div>

            <div class="col-sm-4 my-2 d-sm-flex">
                <a href="#calendarRow" class="btn btn-secondary mx-sm-auto">VER CALENDÁRIO</a>
            </div>

            <div class="col-sm-4 my-2 d-sm-flex">

                <button type="button" class="btn btn-secondary mx-sm-auto js-create" data-url="{% url 'js-criar' %}">
                    NOVA SOLICITAÇÃO</button>
                <div class="modal fade" id="modal-evento">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <hr>

        <div class="table-responsive px-3 ">
            <table id="table-evento" class="table table-striped table-dark table-hover table-border align-middle">
                
        {% for group in request.user.groups.all %}
        {% if group.name == 'Admin' %}
                <thead>
                    <th>Usuário</th>
                    <th>Matricula</th>
                    <th>Status</th>
                    <th>Justificativa</th>
                    <th>Status por</th>
                    <th>Data</th>
                    <th>Entrada</th>
                    <th>Saída</th>
                    <th>Postado em</th>
                    <th>Opções</th>
                </thead>

                <tbody>
                    {%  include 'solicitacao/adm-list.html'  %}
                </tbody>
        {%else%}
                <thead>
                    <th>Status</th>
                    <th>Justificativa</th>
                    <th>Data</th>
                    <th>Entrada</th>
                    <th>Saída</th>
                    <th>Opções</th>
                </thead>

                <tbody>
                    {% include 'solicitacao/list.html' %}
                </tbody>
                
        {%endif%}
        {%endfor%}
                
            </table>
        </div>

        <!-- PAGINAÇÃO -->
            {% include 'lista/pagination.html' %}       
    </div>

    <!-- CALENDARIO -->
    <div id="calendarRow" class="page-content my-3 p-3">
        <h2>Horários Reservados - Sala E04</h2>
        <hr>
        <div class="row d-flex py-2 ">
            <div class="col-md-9 mx-auto">
                <div id='calendar' class="rounded-top-4"></div> 
                </div>
        </div>
    </div>
    <!-- MODAL CALENDARIO -->
        {% for solicitacao in solicitacaos %}
            {% include 'solicitacao/detail.html' %}
        {%endfor%}
</div>   
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/solicitacao.js' %}"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        locale: 'pt-br',
        buttonText: {today: 'Hoje'},
        dayMaxEventRows: true, // for all non-TimeGrid views
        views: {
            timeGrid: {
                dayMaxEventRows: 6 // adjust to 6 only for timeGridWeek/timeGridDay
            }
        },
        events: [
            // {% for solicitacao in solicitacaos %}
            // {% if solicitacao.status.id == 3 %}
            {
                title: '{{ solicitacao.profile }}',
                start: '{{ solicitacao.data | date:"Y-m-d" }}T{{solicitacao.entry_hour}}',
                id: '{{solicitacao.id}}',
                borderColor: 'green'
            }, 

            // {% elif solicitacao.status.id == 1 %}
            {
                title: '{{ solicitacao.profile }}',
                start: '{{ solicitacao.data | date:"Y-m-d" }}T{{solicitacao.entry_hour}}',
                id: '{{solicitacao.id}}',
                borderColor: 'yellow'
            }, 
            // {% elif solicitacao.status.id == 2 %}
            // {%endif%}
            // {% endfor %}
        ],
        eventDidMount: function(info) {
            var eventElement = info.el;
            var solicitacaoId = info.event.id; // Acesse o ID da solicitação usando info.event.id
            eventElement.setAttribute('data-bs-toggle', 'modal');
            eventElement.setAttribute('data-bs-target', '#detailModal' + solicitacaoId);
            eventElement.setAttribute('type', 'button');
        },

    });
    calendar.render();
});


</script>
{% endblock %}
