{% load crispy_forms_tags %}

<form method="post" action="{% url 'js-editar-status' form.instance.pk %}" class="js-update-form" id="modalSolicitacao" data-bs-theme="dark">
    {% csrf_token %}

    <div class="modal-header">
        <h4 class="modal-title">ATUALIZAR STATUS</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">
        <strong style="color: #3339b7">{{form.instance}}</strong>  
        <p class='lead'> Preencha todos os campos obrigatórios.</p>
        {{ form|crispy }}
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Salvar    </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
    </div>
</form>